<div class="row">
  <div class="col-md-12">
    <div class="list-group">
      <% @view.worksheets.each do |worksheet| %>
        <a class="list-group-item" href="<%= worksheet.link %>">
          <span class="badge"><%= worksheet.score %></span>
          <%= worksheet.link_title %>
        </a>
      <% end %>
    </div>
  </div>
</div>
