<form class="form-horizontal" method="post" action="<%= @view.put_worksheet_url %>">
  <input type="hidden" name="_method" value="put"/>

  <div class="row">
    <% @view.exercises.each do |exercise| %>
      <%= erb exercise.template, locals: {exercise: exercise} %>
    <% end %>
  </div>
  <div class="row">
    <button type="submit" class="btn btn-success">Geef af</button>
  </div>
</form>
