<html>
<head>
  <title>Tomin.be - <%= @view.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <% @view.css_files.each do |css_file| %>
    <link rel="stylesheet" href="<%= css_file %>">
  <% end %>
</head>
<body>
<div class="container">
  <%= erb :menu, layout: false %>
  <%= yield %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<% @view.js_files.each do |js_file| %>
  <script src="<%= js_file %>"></script>
<% end %>
</body>
</html>
