<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tomin-navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Tomin.be</a>
        </div>

        <div class="collapse navbar-collapse" id="tomin-navigation">
          <ul class="nav navbar-nav">
            <li class="<%= @view.active(:worksheets) %>"><a href="/worksheets">Jouw werkblaadjes</a></li>
          </ul>
          <form class="navbar-form navbar-right" action="/worksheets" method="post">
            <select class="form-control" name="type">
              <option value="tables_of_multiplication">Maaltafels</option>
              <option value="tables_of_division">Deeltafels</option>
              <option value="time_counting">Tellen met tijd</option>
              <option value="analog_to_digital">Analoog naar digitaal</option>
            </select>
            <button type="submit" class="btn btn-default">Nieuw werkblaadje</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>
