<div class="col-md-4">
  <div class="text-center">
    <canvas width="100" height="100" data-time="<%= exercise.problem %>" id="clock-<%= exercise.index %>" class="clock"></canvas>
  </div>
  <div class="<%= exercise.form_group_classes %>">
    <input type="text" class="form-control" autocomplete="off" name="<%= exercise.text_field_name %>" value="<%= exercise.solution %>"/>
    <span class="<%= exercise.text_field_addon_classes %>"></span>
  </div>
</div>
