<div>
  <div class="<%= exercise.form_group_classes %>">
    <label class="control-label col-sm-9" for="<%= exercise.text_field_name %>"><%= exercise.problem %></label>

    <div class="col-sm-3">
      <input type="text" class="form-control" autocomplete="off" name="<%= exercise.text_field_name %>" value="<%= exercise.solution %>"/>
      <span class="<%= exercise.text_field_addon_classes %>"></span>
    </div>
  </div>
</div>
